In [8]:
# Import dependencies and setup

import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as matplotlib

In [11]:
# Import .csv and store as DataFrame

interest_rates_file_path = "Resources/interest_rates_cleaned.csv"
interest_rates_df = pd.read_csv(interest_rates_file_path)
interest_rates_df.head()

     date  cash_rate_target  interbank_overnight_cash_rate  six_month_bab_ncd
0  Aug-90             14.00                          14.07              13.92
1  Sep-90             14.00                          14.05              13.52
2  Oct-90             13.43                          13.47              13.07
3  Nov-90             13.00                          13.05              12.41
4  Dec-90             12.58                          12.68              12.19