In [8]:
# Import dependencies and setup

import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as matplotlib

In [13]:
# Import .csv and store as DataFrame

interest_rates_file_path = "Resources/interest_rates_cleaned.csv"
interest_rates_df = pd.read_csv(interest_rates_file_path)
interest_rates_df

,date,cash_rate_target,interbank_overnight_cash_rate,six_month_bab_ncd
0,Aug-90,14.00,14.07,13.92
1,Sep-90,14.00,14.05,13.52
2,Oct-90,13.43,13.47,13.07
3,Nov-90,13.00,13.05,12.41
4,Dec-90,12.58,12.68,12.19
...,...,...,...,...
372,Aug-21,0.10,0.03,0.01
373,Sep-21,0.10,0.03,0.01
374,Oct-21,0.10,0.03,0.04
375,Nov-21,0.10,0.04,0.04
376,Dec-21,0.10,0.04,0.06

In [29]:
# Calculate sum/average of columns and create summary DataFrame

# Cash Rate Target
total_CRT = interest_rates_df['cash_rate_target'].sum()
total_CRT = 1710.77 # for reference only
average_CRT = total_CRT/377 #377 = number of rows
average_CRT = 4.55

# Interbank Overnight Cash Rate
total_IOCR = interest_rates_df['interbank_overnight_cash_rate'].sum()
total_IOCR = 1708.86 # for reference only
average_IOCR = total_IOCR/377
average_IOCR = 4.53

# Six Month BAB/NCD
    # BAB = Bank Accepted Bills
    # NCD = Negotiable Certificates of Deposit
    
total_6MBABNCD = interest_rates_df['six_month_bab_ncd'].sum()
total_6MBABNCD = 1756.77 # for reference only
average_6MBABNCD = total_6MBABNCD/377
average_6MBABNCD = 4.66

summary_df = {"Total Cash Rate Target": [total_CRT],
                "Average Cash Rate Target": [average_CRT],
                "Total Interbank Overnight Cash Rate": [total_IOCR],
                "Average Interbank Overnight Cash Rate": [average_IOCR],
                "Total Six Month BAB/NCD": [total_6MBABNCD],
                "Average Six Month BAB/NCD": [average_6MBABNCD],
                }

summary_df = pd.DataFrame(summary_df)
summary_df

,Total Cash Rate Target,Average Cash Rate Target,Total Interbank Overnight Cash Rate,Average Interbank Overnight Cash Rate,Total Six Month BAB/NCD,Average Six Month BAB/NCD
0,1710.77,4.55,1708.86,4.53,1756.77,4.66